extends layout
block content
  .container-fluid 
    .row
      .col-md-4#left-menu
        .row
          .col-md-11
            h5.text-muted Collections:
          .col-md-1.text-right
              i.fas.fa-plus.action-revert(onclick="window.location.href='/collections/add';")
        each collection, index in collections 
          .collection-item-div.row(collectionId='#{collection._id}')(class=(startedCollectionIds.includes(collection._id))?"started":"stoped")(class=index === 0 ? 'selected-collection-item' : '')(collection=index === 0 ? '#{JSON.stringify(collection)}' : '')(onclick="selectCollection(this,'#{JSON.stringify(collection)}');")
            .col-md-11
              span.collection-item-link #{collection.name} (#{collection.endpoints?collection.endpoints.length:0})
            .col-md-1
              i.fas.fa-circle
      .col-md-7.offset-md-1.offset-sm-0#endpoints-content-div
          .row.collection-desc-div
            .col-md-9
              h3#selected-collection-name
            .col-md-3.collection-actions-div
              .row 
                .col-3
                  i#add-collection-action.fas.fa-plus.action-revert(onclick="redirectToEndpointForm();")
                .col-3
                  i#edit-collection-action.fas.fa-pen.action-revert
                .col-3
                  i#delete-collection-action.fas.fa-trash.action-revert
                .col-3
                  i#start-collection-action.fas.fa-play.action-revert
            .col-12
              span#collection-comment-div.desc-span.text-muted
          .row#collection-endpoints-row
            .col-md-12#collection-endpoints-div